.category img {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.category{
  float: left;
  opacity: 1;
  width: 190px;
  height: 200px;
}

.category img:hover {
   -webkit-filter: saturate(10);
}

.category h3:hover{
color:blue;
}

.super-category img {
  width: 280px;
  height: 280px;
  border-radius: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.super-category{
  float: left;
  opacity: 1;
  width: 290px;
  height: 290px;
}

.super-category img:hover {
   -webkit-filter: saturate(10);
}

.super-category h3:hover{
color:blue;
}
