.col-xs-4 img{
  width: 75%;
  display: block;
  margin-left: 30%;
  margin-right: auto;
}
.col-xs-4 .foo{
  background-color: #d3d3d3;
  display: block;
  margin-left: 30%;
  margin-right: auto;
  width: 75%;
  height: 25px;
  border: 1px solid rgba(0, 0, 0, .2);
  cursor:pointer;
}

.box{
  margin-left: 5px;
  background-color: #d3d3d3;
  display: block;
  float: left;
  width: 20%;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, .2);
  cursor:pointer;
  border-radius: 10px 10px;
}

.hidden {
     display: block;
}

.col-xs-4 .foo p{
  color: black;
}

.op .box p{
  color: black;
  margin-top: 10px;
}
.op .box p:hover{
  color: white;
}

.col-xs-4 p:hover{
  background-color: #FF3333;
  text-decoration: none;
  font-size: 110%;
  color:white;
}

.op .box:hover{
  background-color: #FF3333;
  text-decoration: none;
  font-size: 110%;
  color:white;
}
