.path{
  background-color: #d3d3d3;
  float: left;
  width: 100%;
  height: auto;
  text-transform: uppercase;
  color: #555555;
}
.path a{
  color: #555555;
}

.path .content{
  margin-left: 5%;
}

.box{
  margin-left: 5px;
  /*background-color: #d3d3d3;*/
  display: block;
  float: left;
  width: 20%;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, .2);
  cursor:pointer;
  border-radius: 10px 10px;
}

.hidden {
  display: none;
}

.op .box p{
  color: black;
  margin-top: 10px;
}
.op .box p:hover{
  /*color: white;*/
}
.op .box:hover{
  /*background-color: #FF3333;*/
  text-decoration: none;
  font-size: 110%;
}


.col-md-4 p:hover{
  background-color: #FF3333;
  text-decoration: none;
  font-size: 110%;
  color:white;
}

.col-md-4 .foo p{
  font-size: auto;
  color: black;
}

@media only screen and (max-width: 767px) {

   p {
      font-size: 70%;
   }
}

ul{
padding-left:5%;
}

.categoria img{
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  margin-right: auto;
}
.col-md-4 .foo{
  /*background-color: #d3d3d3;*/
  display: block;
  margin-right: auto;
  width: 100%;
  height: 25px;
  cursor:pointer;
}

.foo p:hover{
  color: white;
}
