#tstm_sec .owl-controls .owl-dot {
background-color : #fff;
border : none medium;
border-radius : 5px;
cursor : pointer;
display : inline-block;
height : 6px;
text-indent : 0;
width : 25px;
margin-right : 5px;
}
#tstm_sec .owl-controls .owl-dot.active {
background-color : #03B0F0;
}
