.col2 img:hover{
  opacity:0.5;
}

@media only screen and (min-widht:500px, max-width: 990px) {

   .mb3 p{
     padding-left: 100px;
   }
}

.top-box{
  background-color: #ff3333;
  display: block;
  float: left;
  width: 100%;
  height: auto;
  color: #fff;
}

@media only screen and (min-width: 990px) {

   .top-box p{
      text-align: center;
      padding-right: 22%;
   }
}
.top-box .col2{
  margin-top: 10px;
}
.top-box .col-md-6{
  margin-top: 10px;
}
.top-box .col-md-6 p{
  text-align: center;
}

.top-box ul{
  list-style: none;
}

/*.top-box li{
  display: inline;
  float: left;
  margin-left: 5%;
}*/

.top-box a{
  font-size: 100%;
  color: #fff;
  padding-left: 5%;
}

@media only screen and (max-width: 990px) {

   .top-box a{
     font-size: 70%;
   }
}

@media only screen and (min-width: 990px) {

   .top-box .col2{
     padding-left: 7%;
   }
}

/*-------------------------------*/
/*      Code snippet by          */
/*      @maridlcrmn              */
/*-------------------------------*/

.quote {
  color: rgba(0,0,0,.1);
  text-align: center;

}

/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/

#fade-quote-carousel.carousel {
padding-bottom: 30px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
opacity: 0;
-webkit-transition-property: opacity;
    -ms-transition-property: opacity;
        transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
opacity: 1;
-webkit-transition-property: opacity;
    -ms-transition-property: opacity;
        transition-property: opacity;
}

#fade-quote-carousel.carousel .carousel-indicators > li {
background-color: #e84a64;
border: none;
}
#fade-quote-carousel blockquote {
  text-align: center;
  border: none;
}
